version: '3.8'
services:
  app:
    build: ./docker/php
    image: warehouse-inventory-api-app
    container_name: warehouse-inventory-api-app
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
      - ./docker/php/php.ini:/usr/local/etc/php/conf.d/custom.ini
    environment:
      - COMPOSER_ALLOW_SUPERUSER=1
    command: >
      sh -c "
        chmod -R 777 /var/www/html/storage &&
        chmod -R 777 /var/www/html/bootstrap/cache &&
        composer install --no-interaction --optimize-autoloader &&
        php-fpm
      "
    depends_on:
      - db
      - redis
    networks:
      - app-network

  nginx:
    image: nginx:1.25-alpine
    container_name: warehouse-inventory-api-nginx
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html:ro
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    networks:
      - app-network

  db:
    image: mysql:8.0
    container_name: warehouse-inventory-api-mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: secret
    volumes:
      - dbdata:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - app-network

  redis:
    image: redis:7-alpine
    container_name: warehouse-inventory-api-redis
    ports:
      - "6379:6379"
    networks:
      - app-network

volumes:
  dbdata:


networks:
  app-network:
